<body bgcolor="#E6E6FA">
<h3> Unsupervised Network Intrustion Detection </h3>

<h4> Classified Label : nmap </h4>

<p> Packet Features </p>
<table>


<tr>
<th>num_access_files </th>
<td>0</td>
</tr>

<tr>
<th>src_bytes </th>
<td>0</td>
</tr>

<tr>
<th>srv_count </th>
<td>1</td>
</tr>

<tr>
<th>num_compromised </th>
<td>0</td>
</tr>

<tr>
<th>rerror_rate </th>
<td>0</td>
</tr>

<tr>
<th>urgent </th>
<td>0</td>
</tr>

<tr>
<th>dst_host_same_srv_rate </th>
<td>0.03</td>
</tr>

<tr>
<th>duration </th>
<td>0</td>
</tr>

<tr>
<th>srv_serror_rate </th>
<td>1</td>
</tr>

<tr>
<th>is_host_login </th>
<td>0</td>
</tr>

<tr>
<th>wrong_fragment </th>
<td>0</td>
</tr>

<tr>
<th>service </th>
<td>private</td>
</tr>

<tr>
<th>serror_rate </th>
<td>1</td>
</tr>

<tr>
<th>num_outbound_cmds </th>
<td>0</td>
</tr>

<tr>
<th>is_guest_login </th>
<td>0</td>
</tr>

<tr>
<th>dst_host_rerror_rate </th>
<td>0</td>
</tr>

<tr>
<th>dst_host_srv_serror_rate </th>
<td>1</td>
</tr>

<tr>
<th>hot </th>
<td>0</td>
</tr>

<tr>
<th>dst_host_srv_count </th>
<td>1</td>
</tr>

<tr>
<th>logged_in </th>
<td>0</td>
</tr>

<tr>
<th>srv_rerror_rate </th>
<td>0</td>
</tr>

<tr>
<th>dst_host_srv_diff_host_rate </th>
<td>0</td>
</tr>

<tr>
<th>num_shells </th>
<td>0</td>
</tr>

<tr>
<th>srv_diff_host_rate </th>
<td>0</td>
</tr>

<tr>
<th>diff_srv_rate </th>
<td>0</td>
</tr>

</table>
</body> 

