<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body bgcolor="#E6E6FA">
<div id="test">
<h3> Unsupervised Feature Learning in Network Intrustion Detection Systems </h3>
<p>  21 Labels </p>
<table class="table">
{% for value in labels %}
<p>{{ value}} </p>
{% endfor %}
</div>
</body>
</html>

